html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: all .2s;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;

    animation-name: rubberBand;
    animation-duration: 1s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 345px;
    margin-bottom: 7px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    color: #f2b01e;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .stars .hide {
    display: none;
}

.move-span {
    margin-left: -20px;
}

/* Styles for the modal */
.modal {
    display: none; /* Hidden by default */
    margin: 0 auto;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: -25px;
    left: 100%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.finalMessage {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    display: flex;
}

.finalScore {
    list-style: none;
    color: #f2b01e;
    margin-left: 2px;
    display: flex;
}

.stats .finalStars .finalScore .hide {
    display: none;
}

.finalStars {
    display: flex;
}

.message {
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.modal-restart {
    position: absolute;
    top: -13.5px;
    left: 97%;
}

/* 
Animations 
- code found at https://github.com/daneden/animate.css/blob/master/animate.css
*/
@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

    @keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
-webkit-animation-name: rubberBand;
animation-name: rubberBand;
}

  
/* media queries */

@media screen and (min-width: 705px) {
    h1 {
      font-size: 3em;
    }
    .score-panel {
      font-size: 1.4em;
    }
}

@media screen and (min-width: 601px) and (max-width: 704px) {
    .deck {
        width: 85%;
        height: 35em;
        padding: 1em;
    }

    .deck .card {
        height: 115px;
        width: 115px;
    }

    .move-span {
        position: absolute;
        left: 165px
    }

}

@media screen and (min-width: 501px) and (max-width: 600px) {
    .deck {
        width: 85%;
        height: 33em;
        padding: 0.5em;
    }

    .deck .card {
        height: 98px;
        width: 98px;
    }

    .move-span {
        position: absolute;
        left: 165px
    }

    .message {
        font-size: 1.5em;
    }

    .modal-restart {
        left: 95%;
        font-size: 1em;
    }
}

@media screen and (min-width: 420px) and (max-width: 500px) {
    .deck {
        width: 85%;
        height: 30em;
        padding: 0.4em;
    }

    .deck .card {
        height: 82.5px;
        width: 82.5px;
    }

    .move-span {
        position: absolute;
        left: 162px
    }

    .message {
        font-size: 1.5em;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 419px) {
    .deck {
        width: 83%;
        height: 27.5em;
        padding: 0.3em;
    }

    .deck .card {
        height: 75.5px;
        width: 75.5px;
    }

    .score-panel {
        width: 75%
    }

    .move-span {
        position: absolute;
        left: 147px
    }

    .modal-restart {
        left: 92%;
        font-size: 1em;
    }

    .message {
        font-size: 1.25em;
        margin-bottom: 0.6em;
    }
}